<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itheima.mobilesafer.activities">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!--获取粗略坐标的权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--获取准确GPS坐标的权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 添加接受短信广播的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name="com.itheima.mobilesafer.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".SetupOverActivity" />
        <activity android:name=".ContactListActivity" />
        <activity android:name=".Setup4Activity" />
        <activity android:name=".Setup3Activity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".SettingActivity">
            <!--for test-->
            <intent-filter>
                <action android:name="com.itheima.SettingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--隐式启动必须action和category都要设置-->
            </intent-filter>
        </activity>
        <activity android:name=".Setup1Activity" />
        <activity android:name=".Setup2Activity" />

        <!--这块怀疑模拟器存在bug，在API_23的模拟器上OK，exported要为true，否则静态注册不生效，表示是否允许广播接收器接受本程序外的广播-->
        <receiver
            android:name="com.itheima.mobilesafer.receiver.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.itheima.mobilesafer.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.itheima.mobilesafer.receiver.MyDeviceAdminReceiver"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.itheima.mobilesafer.service.LocationService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.itheima.mobilesafer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>